:root {
    --azul_Estandar:#395563;
}

*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-family: "Open Sans", Arial, sans-serif;
}
header{
    background:#F1F1F1;
    position: sticky;
    height:125px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 10%);
    top: 0;
    z-index: 100;
  
}

header {
  background: #ffffff;
  height: 125px;
  box-shadow: 0px 6px 14px 0px #7474742b;
  }


a.logo{
    margin-top: 32px;
    margin-left: 50px;
    float: left;
}
nav.menu{
    float: right;
    margin-right: 50px;
}

nav.menu ul li{
    display: inline-block;
    padding: 0 8px;
    padding-bottom: 8px;
    margin-top: 75px;
}

nav.menu ul li a{
    border-radius: 4px;
    color: var(--azul_Estandar);
    font-weight:700;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 13px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdow:hover .dropbtn {
  background-color: aliceblue;
}

li.dropdow {
  display: inline-block;
}

.dropdow-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdow-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdow-content a:hover {background-color: #f1f1f1;}

.dropdow:hover .dropdow-content {
  display: block;
}

header .nav > ul > li.dropdow-mega .dropdow-mega-content {
  padding: 20px 30px;
}


/** SLIDER **/

section.slider{
  position: relative;
}

section.slider img.item-slider{
  width: 100%;
}

.contenedor{
      padding-right: 104px;
      padding-left: 104px;
}

.elementos{
  padding-top: 44px;
      background: #F1F1F1;
      height: 665px;
      border-bottom: 2px solid #ccc;
}

.elementos h6{
  padding-bottom: 44px;
  font-family: 'Oswald', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.owl{
  position: relative;
  float:left;
  
}

.owl-carousel div h2{
  font-weight: 300;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.twitter-timeline {
  margin-left: 20px;
  float: right;
}
.owldos div a img{

}


