:root {
    --azul_Estandar:#395563;
}

*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-family: "Open Sans", Arial, sans-serif;
    color: #606060;
    line-height: 22px;
}
header{
    background:#F1F1F1;
    position: sticky;
    height:125px;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 10%);
    top: 0;
    z-index: 100;
  
}

header {
  background: #ffffff;
  height: 130px;
  box-shadow: 0px 6px 14px 0px #7474742b;
  }


  a.logo {
    margin-top: 32px;
    margin-left: 89px;
    float: left;
}
nav.menu{
    float: right;
    margin-right: 110px;
    
}

nav.menu ul li {
  display: inline-block;
  padding: 0 8px;
  padding-bottom: 8px;
  margin-top: 55px;
}

nav.menu ul li a{
    border-radius: 4px;
    color: var(--azul_Estandar);
    font-weight:700;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdow:hover .dropbtn {
  background-color: var(--azul_Estandar);
}


li.dropdow {
  display: inline-block;
}

.dropdow-content {
  display: none;
  position: absolute;
  margin-left: -161px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdow-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdow-content a:hover {background-color: #f1f1f1;}

/**/
li a, .drop {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdo:hover .drop {
  background-color: var(--azul_Estandar);
}

li.dropdo {
  display: inline-block;
}

.dropdo-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdo-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdo-content a:hover {background-color: #f1f1f1;}

.dropdo:hover .dropdo-content {
  display: block;
}
/**/

.dropdow:hover .dropdow-content {
  display: block;
}

header .nav > ul > li.dropdow-mega .dropdow-mega-content {
  padding: 20px 30px;
}
  
.dropdow-mega-sub-title {
    position: relative;
    left: -58px;
    bottom: 4px;
}

.dropdow-mega-sub-title-2 {
  position: relative;
  left: -67px;
  bottom: 7px;
}

.dropdow-mega-sub-title-3 {
  position: relative;
  left: 278px;
  bottom: 421px;
}

.dropdow-mega-sub-title-4 {
  position: relative;
  left: 330px;
  bottom: 422px;
}

  
.dropdow-item {
  position: relative;
  left: -71px;
  bottom: 14px;
}

.dropdow-item-2 {
  position: relative;
  left: -84px;
  bottom: 24px;
}

.dropdow-item-3 {
  position: relative;
  left: 261px;
  bottom: 437px;
}

.dropdow-item-4 {
  position: relative;
  left: 312px;
  bottom: 430px;
}

  
  .col-2{
    float: left;
    position: relative;
    left: 254px;
    bottom: 414px;
  }


  h6, .h6 {
    font-size: small;
}

  header nav ul li.dropdow .dropdow-menu li:last-child a {
    border-bottom: 0;
}

header nav ul li.dropdow-mega .dropdow-mega-sub-title {
  color: #333333;
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

* {
  margin: 0;
  box-sizing: border-box;
}

header nav  ul  li.dropdown .dropdown-menu {
  top: -1000px;
  display: block;
  opacity: 0;
  left: auto;
  border-radius: 0 4px 4px;
  border: 0;
  border-top: 5px solid #CCC;
  box-shadow: 0 20px 45px rgb(0 0 0 / 8%);
  margin: -3px 0 0 0;
  min-width: 200px;
  padding: 5px;
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.row {
  margin-right: 142px;
  margin-left: 70px;
  margin-bottom: 145px;
  margin-top: 19px;
}

.col {
  flex: 118 103 376%;
}

.dropdow-mega-sub-title{
  font-size: 14px
}

.dropdow-mega-sub-title-2{
  font-size: 14px
}




/** SLIDER **/

section.slider{
  position: relative;
}

section.slider img.item-slider{
  width: 100%;
}

.contenedor{
      padding-right: 104px;
      padding-left: 104px;
}

.elementos{
  padding-top: 44px;
      background: #F1F1F1;
      height: 665px;
      border-bottom: 2px solid #ccc;
}

.contenedor h6{
  font-family: 'Oswald', sans-serif;
  padding-bottom: 44px;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.owl{
  position: relative;
  float:left;
  
}

.owl-carousel div h2{
  font-weight: 300;
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.twitter-timeline {
  margin-left: 20px;
  float: right;
}

.contenedor h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-top: 50px;
  line-height: 66px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  display:  inline-block;
  color: black;
}

.galeria {
  width: 33.33333333%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 12px;
}

.galeria h2 {
  font-weight: 300;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    line-height: 18px;
}

.galeria h3 {
  color: #333;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 14px 0;
}

/** ELECCIONES 2021**/
.imagen-texto{
  width: 58.33333333%;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  height: auto;
  float:left;
}
.imagen-texto img{
width: 100%;
}

.texto-eleccion{
  width: 41.66666667%;
  margin: 0;
  padding-left: 15px;
  float:right;
}

.texto-eleccion p {
  line-height: 24px;
  font-size: 14px;
  color: #777777;
}

.strong{
  font-weight: bold;
}

.texto-eleccion h2 a{
  color: white;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: #333333;
  padding: 5px 10px 5px 10px;
  text-align: left;
  float: left;
}

.texto-eleccion h2 a:hover{
  text-decoration: underline;
  color: #db903a;
}

.textos div a h3{
  margin-top: 30px;
  width: 16.6666667%;
  float: left;
  position: relative;
  min-height: 1px;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  color: #395563;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
}


.parallax {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  
}

.bg1{
  background-image: url(../assets/images/parallax3.jpg);
  height: 500px;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
}

.patrones {
  height: 500px;
  width: 100%;
  position: absolute;
  background-image: url(../assets/images/pattern.png);
}

.ptexto {
  display: table-cell;
  height: 500px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.frase {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  z-index: 200;
  margin: 0 5%;
}

.autor {
  font-family: 'Arial, Verdana, Hervetica', sans-serif;
    height: 24px;
    width: auto;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    margin-top: 25px;
    z-index: 200;
}

/** CANDIDATURAS INDEPENDIENTES**/

h1.titulo-CANDIDATURAS {
  position: relative;
  top: 530px;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-top: 8px;
  line-height: 66px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  color: black;
}

.imagen-texto-1{
  width: 58.33333333%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 575px;
  display: block;
  height: auto;
  float: left;
}
.imagen-texto-1 img{
width: 100%;
}

.texto-candidaturas{
  width: 41.66666667%;
  margin: 0;
  padding-left: 0px;
  float: right;
  position: relative;
  margin-top: 569px;
}

.texto-candidaturas p {
  line-height: 24px;
  font-size: 14px;
  color: #777777;
}


.texto-candidaturas h2 a{
  color: white;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 130px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  background-color: #333333;
  padding: 5px 10px 5px 10px;
  text-align: left;
  float: left;
}

.texto-candidaturas h2 a:hover{
  text-decoration: underline;
  color: #db903a;
}

.textos-can div a h3{
  margin-top: 30px;
  width: 33.3333334%;
  float: left;
  position: relative;
  min-height: 1px;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  color: #395563;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
}



.parallax-1 {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  
}

.bg2{
  background-image: url(../assets/images/parallax_elecciones.jpg);
  height: 500px;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
  margin-top: 1000px;
}

.patrones-1 {
  height: 500px;
  width: 100%;
  position: absolute;
  background-image: url(../assets/images/pattern.png);
}

.ptexto-1 {
  display: table-cell;
  height: 500px;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}


.frase-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  z-index: 200;
  margin: 0 5%;
}

.frase-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  z-index: 200;
}

.autor-1 {
  font-family: 'Arial, Verdana, Hervetica', sans-serif;
    height: 24px;
    width: auto;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    margin-top: 25px;
    z-index: 200;
}

.textos-consejos div a h3{
  margin-top: 30px;
  float: left;
  position: relative;
  min-height: 1px;
  font-size: 24px;
  padding-left: 100px;
  padding-right: 15px;
  color: #395563;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.bg3{
  background-image: url(../assets/images/parallax_consejos.jpg);
  height: 500px;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
  margin-top: 1000px;
}

.textos-observadores div a h3{
  width: 50%;
  margin-top: 30px;
  float: left;
  position: relative;
  min-height: 1px;
  font-size: 24px;
  padding-left: 100px;
  padding-right: 15px;
  color: #395563;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.bg4{
  background-image: url(../assets/images/parallax_elecciones02.jpg);
  height: 500px;
  position: absolute;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
  margin-top: 1000px;
}


.contenedorfinal {
  padding-right: 104px;
  padding-left: 104px;
}


.contenedorfinal h1{
font-family: 'Oswald', sans-serif;
font-size: 34px;
font-weight: 400;
text-transform: uppercase;
color: #606060;
margin-top: 50px;
margin-bottom: 10px;
text-align: center;
display:  inline-block;
}

.sitios-interes div a img{
  width: 16.6666667%;
  margin-top: 540px;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.sitios-interes div a img:hover{
  -webkit-filter: grayscale(100%);
}


body {
  font-family: 'Alegreya Sans', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 300px;
}
.footer {
  position: absolute;
  bottom: -334px;
  width: 100%;
  height: 300px;
}

    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 651px;
  }

footer {
  padding-top: 30px;
  background-color: #151515;
  color: #bbb;
}


footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
  background-color: #fffefe;
    box-shadow: 0 1px 0 0 #151515;
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

html .btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
  background-color: #395563;
  border-color: #395563 #395563 #263943;
}

.btn-primary:hover {
  color: #fff;
  background-color: #395563;
  border-color: #395563;
}

label.text-light {
  position: relative;
  margin-left: -80px;
}

a.logo-i {
  position: relative;
  left: 393px;
  bottom: 446px;
}

p.informacion {
  position: relative;
  bottom: 430px;
  left: 389px;
  margin-right: -511px;
  line-height: 20px;
  text-align: justify;
  font-size: 14px;
}

h5.f {
  position: relative;
  text-align: justify;
  font-size: 18px;
}

.col-md-5 {
  width: 41.66666667%;
}

.col-md-5{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 0px;
  top: 69px;
}

.form-control {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: rgb(85, 85, 85);
  border-radius: 4px;
}

p.c {
  position: relative;
  bottom: 435px;
  left: 392px;
  text-align: justify;
  font-size: 15px;
  margin-right: -362px;
}

.social-icons {
  position: relative;
  bottom: 435px;
  left: 392px;
  text-align: justify;
  font-size: 15px;
  margin-right: -688px;
}

footer a {
  color: #fff;
  text-decoration: none;
}